// カーソル
.cursor {
  position: fixed;
  background-color: purple;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: -7.5px 0 0 -7.5px;
  user-select: none; // ユーザーがテキストを範囲選択できるかどうかを制御するプロパティ。
  pointer-events: none;
  z-index: 5; // 最前面に映したい
}

// 背景のアニメーション
.circles {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #a6ddcb;
  overflow: hidden;

  & > .circle {
    position: absolute;
    border-radius: 50%;

    &.circle1 {
      background-color: green;
      width: 630px;
      height: 630px;
      margin: -315px 0 0 -315px;
    }

    &.circle2 {
      background-color: red;
      width: 420px;
      height: 420px;
      z-index: 1;
      margin: -220px 0 0 -220px;
    }

    &.circle3 {
      background-color: blue;
      width: 200px;
      height: 200px;
      z-index: 2;
      margin: -100px 0 0 -100px;
    }
  }
}

// Hello Worldのスタイル
.content {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  mix-blend-mode: screen;
  z-index: 4;
  & h1 {
    font-size: 9rem;
  }
}
